<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #drawer class="example-sidenav" mode="side">
    <!-- side nav -->
    <div
      cdkDropList
      [cdkDropListData]="numbers"
      [cdkDropListConnectedTo]="otherList"
      #firstList="cdkDropList"
    >
      <div cdkDrag class="drag-item" *ngFor="let number of numbers">
        {{ number }}
      </div>
    </div>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <!-- button to toggle side nav -->
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>

    <div>
      <div
        cdkDropList
        [cdkDropListData]="otherNumbers"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="firstList"
        #otherList="cdkDropList"
      >
        <div class="drag-item">
          <div cdkDrag *ngFor="let number of otherNumbers">
            {{ number }}
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
